body {
    background-color: #ebebeb;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#apresentacao {
    margin: 15px;
    display: flex;
    align-items: center;
}

#apresentacao h1 {
    padding-inline: 10px;
}

#apresentacao img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    padding-inline: 5px;
}

.icones {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.resumo {
    margin-inline: 10vw;
    text-align: justify;
}

.carrossel {
    margin-inline: 10vw;
    text-align: center;
}

.carrossel img {
    width: 70vw;
}

footer {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.footer h3 {
    font-size: xx-large;
}

.iconesFooter {
    display: inline;
}

.iconesFooter img {
    width: 3vmax;
    margin-inline: 0.5vmax;
}